body{
  display:flex;
  flex-wrap: wrap;
  background:rgb(3, 76, 106);
  color:aliceblue;
  text-shadow:
  1px 1px 2px rgba(108, 194, 16, 0.955),
  0 0 1em rgb(255, 225, 0),
  0 0 0.2em rgb(237, 137, 5);
  background-attachment: fixed;
  font-size:18px;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: #27272a;
  position:fixed;
  top: 0;
  width: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(0, 2, 3);
}
.navbar{
  position: fill;
  top:20%;
  bottom: 20%;
  width: 100%;
}
main{
    padding: 20px; 
    margin: 20px;
    justify-content: center;
    align-items:center;
}

aside{
  height: 40px;
  padding: 20px; 
  margin: 20px;
  justify-content: left;
  align-items:left;
}

.Musicside{
  background-color:(rgb(82, 79, 79));
}
.card { 
  display:block;
  flex-direction: column;
  background: rgb(74, 72, 72);
  width: fill;
  height: fill;
  border-radius: 5px;
  border:#040c31 2px solid;
  box-shadow:1px 1px 2px rgb(16, 209, 71),
  0 0 1em rgb(191, 136, 19),
  0 0 0.2em rgba(36, 123, 5, 0.453);
  margin: 10px;
  padding: 10px;
}

button{
  border-radius: 5px;
  size:20px;
  background: radial-gradient(yellow,lightyellow) ;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: auto;
  }
input{
  margin: 5px;
  padding: 5px;
}
.music{
  display: subgrid;
  flex-direction: row;
}
audio{
  float: right;
}
.txt{
  border-radius: 30px;
  border:#072bc8 2px solid;
}
img{
  margin:4px;
  width: 400px;
  height: 330px;
}

form{
  width:600px;
  height: 600px;
  justify-self: center;
}
iframe{
  margin:4px;
  width: 400px;
  height: 330px;
}
@media  screen and (max-width:700px) {
  img{
    display:none;
  }
  iframe{
    display:none; 
  }

  body{
  background-color: whitesmoke;
  color:black;
  text-shadow:
  1px 1px 2px rgba(182, 194, 16, 0.848),
  0 0 1em rgb(228, 69, 6),
  0 0 0.2em rgb(104, 11, 176);
  background-attachment: fixed;
  }
  .card{
    background-color: darkgrey;
  }
}